.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-container {
  background-color: rgb(194, 224, 245);
  width:fit-content;
  padding: 0px 30px 60px;
  border-radius: 25px;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: auto;
}
.sign-in-button-container {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}