form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  background-color: rgb(194, 224, 245);
  padding: 25px 45px;
  border-radius: 10px;
}
.input-data-container {
  display: flex;
  flex-direction: column;
}
.main-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.signup-title {
  font-weight: 700;
}
.submit-button-container {
  display: flex;
  padding-top: 30px;
  width: 50px;
}